doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer)
    script(src="https://unpkg.com/@popperjs/core@2" defer)
    script(src='/javascripts/bootstrap.min.js' defer)
    script(crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js" defer)
    script(crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" defer)
    script(src='/javascripts/tooltip.js' defer)
    script(src='/javascripts/infobox.js' defer)
    script(src='/javascripts/article.js' defer)
    script(src='/javascripts/display.js' defer)
    script(src='/javascripts/rootdisplay.js' defer)
    script(src='/javascripts/mainscript.js' defer)
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-light
      a.navbar-brand#title(href='/') GAM3R
    .container
      block content
      footer &copy; GAM3R
