@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
  font: 14px 'Oswald', sans-serif;
  background-color: #222;
}

.articleDisplay {
  margin: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.articleContainer {
  width: 300px;
  height: 300px;
  position: relative;
}

.articleContainer h1 {
  font-size: 30px;
  color: purple;
  position: absolute;
  top: 0;
  left: 5px;
}

.articleContainer h2 {
  font-size: 20px;
  color: purple;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.articleContainer img {
  /* Remove these later */
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.30;

  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
}

.articleContainer img:hover {
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
